/*-----------------------*/
.head_container {
    max-width: 90%;
    margin: auto;
  }
  
  
  header {
    height: 100%;
    background-color: #fff;
    position: relative;
  }
  
  .logo img {
    width: 80px;
    margin-left: 20px;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }
  
  .cart{
    margin-right: 40px;
  }
  
  .hambuger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(59, 59, 59);
  }
  
  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header ul li {
    margin-left: 3rem;
  }
  
  header ul li a {
    font-size: 1rem;
    font-weight: 400;
    color: #696F79;
    transition: 0.5s;
  }
  
  header ul li a:hover {
    color: #C1B086;
  }
  
  @media only screen and (max-width: 768px) {
    header ul {
      display: block;
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.5s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      z-index: 20;
    }
  
    header ul.active {
      left: 0%;
    }
  
    header ul li {
      margin: 2.5rem 0;
    }
  
    header ul li a {
      color: black;
    }
  
    .hambuger {
      display: block;
      cursor: pointer;
    }
  
    .hambuger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hambuger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hambuger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  /*--------------header--------*/
  /*--------------home--------*/
  
  .home .image img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 40%;
  }
  
  .book{
      max-width: 80%;
  }
  /*--------------------------------*/
  /*--------------header--------*/
    /*comment*/
    .top-bar{
        width: 95%;
        margin: 0 auto;
        margin-top: 10;
        margin-bottom: 0;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    } 
    
    .front{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .botton-head {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .botton-head > .HOME {
        padding: 10px;
        color: #696F79;
        font-weight: normal;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
    
    .botton-head > .HOME:hover {
        background-color: rgb(204, 204, 204);
    }
    
    .botton-head > .ABOUT{
        padding: 10px;
        color: #696F79;
        font-weight: normal;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
    
    .botton-head > .ABOUT:hover {
        background-color: rgb(204, 204, 204);
    }
    
    .botton-head > .ROOM{
        padding: 10px;
        color: #696F79;
        font-weight: normal;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
    
    .botton-head > .ROOM:hover {
        background-color: rgb(204, 204, 204);
    }
    
    .botton-head > .SERVICE{
        padding: 10px;
        color: #696F79;
        font-weight: normal;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
    
    .botton-head > .SERVICE:hover {
        background-color: rgb(204, 204, 204);
    }
    
    .botton-head > .RESTAURANT{
        padding: 10px;
        color: #696F79;
        font-weight: normal;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
    
    .botton-head > .RESTAURANT:hover {
        background-color: rgb(204, 204, 204);
    }
    
    .botton-head > .GALLERY{
        padding: 10px;
        color: #696F79;
        font-weight: normal;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
    
    .botton-head > .GALLERY:hover {
        background-color: rgb(204, 204, 204);
    }
    
    .botton-head > .CONTACT{
        padding: 10px;
        color: #696F79;
        font-weight: normal;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
    
    .botton-head > .CONTACT:hover {
        background-color: rgb(204, 204, 204);
    }
    .cart{
        padding: 10px;
        color: #696F79;
        font-weight: normal;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
    
    .cart:hover{
        background-color: rgb(204, 204, 204);
    }
    .pic{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    
    .main{
        margin-top: 50px;
    }
    
    .main .title{
        font-family: "Helvetica";
        font-weight: bold;
        text-align: center;
    }
  /*อันนี้เวลาย่อหน้าจอเหลือ 768pxจะแสงออกมาเป็นอย่างนี้*/
  @media only screen and (max-width: 768px) {
    header ul {
      display: block;
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.5s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      z-index: 20;
    }
  
    header ul.active {
      left: 0%;
    }
  
    header ul li {
      margin: 2.5rem 0;
    }
  
    header ul li a {
      color: black;
    }
  
    .hambuger {
      display: block;
      cursor: pointer;
    }
  
    .hambuger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hambuger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hambuger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
body {
    background-color: white;
    width: 100%;
    margin: 0;
    font-family: 'Hind Vadodara', sans-serif;
    color: #696F79;
}

.top-bar{
    width: 95%;
    margin: 0 auto;
    margin-top: 10;
    margin-bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-link {
    display: block;
    color: #696F79;
  }

  .nav-link:hover{
    color: #696F79;
  }

.top-bar .logo{
    width: 40px;
    height: auto;
}

.front{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pic{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.main h1{
    margin-top: 20px;
    margin-left: 10%;
    font-family: 'Hind Vadodara', sans-serif;
    color: #696F79;
}

.main .row{
    margin: 0 auto;
    margin-top: 20px;padding: 2%;
    width: 90%;
    color: #696F79;
}

.column_in_col2
  {
    width: 50%;
    margin-left: 20%;
    
    background-color: beige;
    border-radius: 10px;
  }
  .column_in_col2 .col2_left /*adjust left text in bluebox*/
  {
      padding-top: 10%;
  }
  .column_in_col2 .col2_right
  {
      padding-bottom: 10%;
  }

.table {
    border-spacing: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
}

table tbody tr td {
    padding-left: 20px
}
/*----------------*/
/*booking frame/
  /*--------------book--------*/
  .flex {
    display: flex;/*div will sep horizontally*/
  }
  .row {/*for seperating each part by row*/
    display: flex;
    margin-top: 2%;
  }
  .column{/*each column in row*/
    width: 50%;
    color: #6B6B6B;
  }
  .column img{
      width: 10%;
      color: #6B6B6B;
     margin-left: 2%;
  }
  .column .detail_in_col2
  {
      background-color: #E7FCFF;
      width: 40%;
      /*padding-top: 15px;*/
  }
  .row_in_col2
  {
      display: flex;
      margin-left: 2%;
      width: 100%;
  }
  .column_in_col2
  {
    color: #6B6B6B;
    width: 50%;
    padding-left: 10%;
    margin-left: 8%;
  }
  .column_in_col2 .col2_left /*adjust left text in bluebox*/
  {
      padding-top: 10%;
      color: #6B6B6B;
      
  }
  .column_in_col2 .col2_right
  {
      padding-bottom: 10%;
      color: #00A106;
  }
  .column_in_col2 ul{
      list-style-type: circle;
      color: #6B6B6B;
  }
  .book_detail h2
  {
    color: #6B6B6B;
    padding: 1%;
  }
  .Service_Staff .column_in_col2
  {
      background-color: white;
      border-style: groove;
      border-radius: 10px;
      padding-left: 1%;
    }
    .Service_Staff .column_in_col2 img
    {
        padding-top: 1%;
        width: 50%;
    }
    .main_box h2{
      margin-bottom: 30px;
      color: #6B6B6B;
  }
  
  .right{
      margin-right: 50px;
      margin-left: -30px;
  }
  
  .right1{
      background-color: #E7FCFF;
      width: 140%;
      margin-left: -150px;
  }
  
  .right1 .info{
      margin-left: 20px;
      margin-right: 20px;
  }
  
  .right1 .nav_list li{
    margin-top: -10px;
  }
/*back*/
.Payment_method input,
.Payment_method .form-control{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #c4c4c4;
  letter-spacing: 1px;
  color: #313131;
  background: transparent;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-size: 0.75rem;  
  font-weight: 450;
  margin-top: 0.5rem;
}

.Payment_method input:focus,
.Payment_method .form-control:focus{
  border: 2px solid #1565D8;
}


.Payment_method .inputBx{
  padding: 0rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #313131;
  position: relative;
}

.button_booking{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
width: 300px;
margin-top: 20px;
text-align: center;
}
.clear {
  clear: both;
}
.Payment_method .Payment_Box .Button_summit input{
  margin-left: 40%;
  background-color: #1565D8;
  width: 20%;
  color: #fafafa;
  font-size: large;
}